body{
    margin: 0;
    padding: 0;
}
.header{
    background: none;
    position: absolute;
    width: 100%;
}
.header ul{
    /*border: 1px solid blue;*/
    margin: 0;
    width: 20%;
    margin-left: 70%;
    padding: 3em;
}
.header li{
    list-style-type: none;
    display: inline-block;
    margin-left: 30px;
}
.header a{
    text-decoration: none;
    color: white;
}
.header span{
    display: block;
    float: left;
    font-size: 1.6em;
    /*border: 1px solid green;*/
    width: 20%;
    margin-left: 10%;
    padding: 1.67em;
    font-weight: bold;
    color: white;
}
.middle{
    width: 100%;
    height: 36vw;
    background: #072A6C;
}
.middle img{
    height: 70%;
    margin-top: 11%;
}
.middle p{
    width: 50%;
    float: right;
    font-size: 1.6em;
    color: white;
    height: 30%;
    margin-top: 16%;
    text-align: justify;
    margin-right: 10px;
}
.partners{
    width: 100%;
    height: 70px;
    background-color: lightgray;
}
.partners ul{
    margin: 0;
    width: 70%;
    margin-left: 15%;
}
.partners li{
    display: inline-block;
}
.partners img{
    height: 66px;
}
.submiddle{
    width: 100%;
}
#first{

    font-size: 1.5em;
    width: 30%;
    margin-left: 10%;
    margin-top: 100px;
}
.submiddle p{
    display: inline-block;
}
#second{
    width: 40%;
    margin-left: 10%;
    font-size: 1.3em;


}
#third{
    box-shadow: 8px 8px 10px;
    width: 50%;
    margin-left: 30%;
}
#fourth{
    position: absolute;
    width: 40%;
    margin-left: 10%;
    left: 0;
    margin-top: 15%;
}