h1 {
    font-family: Arial;
    font-size: 36px;
    text-align: center;
    color: red;
    box-sizing: content-box;
    border: 2px dotted yellow;
    border-color: yellow;
    background-color: blue;
    margin: 5px;
    padding: 10px;
}

h2 {
    font-family: Arial;
    font-size: 28px;
    text-align: center;
    color: black;
    box-sizing: content-box;
    border: 2px dotted goldenrod;
}

body {
    background-image: url("images/123.jpg");
    background-repeat:no-repeat;
    background-size: cover;
}

li{
    list-style: none;
}

.l0{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    text-indent: 1.5em;
}
.l1{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    letter-spacing: 5px;
}
.l2{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    text-transform: lowercase;
}
.l3{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    text-transform: uppercase;
}
.l4{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    line-height: 10;
}
.l5{
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    text-shadow: 2px 2px 0 black;
}

.l6 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    word-spacing: 10px;
}

.l7 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    text-transform: capitalize;
}

.l8 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
}

.l9 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
}

.l10 {
    font-family: Arial;
    font-size: 20px;
    text-align: left;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
}

h2.h3 {
    font-family: Arial;
    font-size: 28px;
    text-align: center;
    color: black;
    box-sizing: content-box;
    border: 2px dotted goldenrod;
}

p.p0{
    font-family: Arial;
    font-style: italic;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    box-sizing: content-box;
    box-background: aqua
}

p.p1 {
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    box-sizing: content-box;
    box-background: aqua
}

p.p2 {
    font-family: Arial;
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: goldenrod;
    margin: 1px;
    padding: 1px;
    box-sizing: content-box;
    box-background: aqua
}