.div1{
    padding-left: 8px;
    padding-right: 5px;
    width:32%;
    float:left;
    background-color: #129c07;
    color:white;
    border: 3px solid #061104;
    height:100%;
}
.div2{
    padding-left: 8px;
    padding-right: 5px;
    width:32%;
    float:left;
    background-color: #757277;
    color:white;
    border: 3px solid #061104;
    height:100%;
}
.div3{
    padding-left: 8px;
    padding-right: 5px;
    width:32%;
    float:left;
    background-color: #129c07;    color:white;
    border: 3px solid #061104;
    height:100%;
}
ul {
    list-style: none;
    color: white;

}

ul li:before {
    content: '✓';
    color: white;
    line-height: 30px;
}
h1{
    color: white;
    font-family: Serif ;
    padding-left: 40px;
}
.div11{
    width: 100%;
    background-color: lightslategray;
    float: left;
    padding-left: 10px;
    padding-bottom: 15px;
}
.div12{
    background-color: white;
    width: 30%;
    height: 150px;
    position: absolute;
    LEFT: 900px;
    top:50px;
}
.div13{
    width: 100%;
    background-color: white;
    float: left;
    padding-left: 10px;
    padding-bottom: 15px;
    color: lightslategray;
}
p{
    width:50%;
    line-height: 30px;}

.div14{
    background-color: lightslategray;
    width: 24%;
    height: 150px;
    position: absolute;
    LEFT: 900px;
    top:300px;

}
.div15{
    background-color: lightslategray;
    float: left;
    width: 100%;
    color: white;
    height:400px;
}
form{
    position:absolute;
    left:500px;
    top:600px;
}
.div31{
    background-color: red;
    color:white;
    width:105%;
    height:100px;
    margin:-10px;
    float:left;
    text-align: center;
}
.div32{
    background-color: #757277;
    color:white;
    width: 15%;
    height: 550px;
    float:left;
    margin-left:-10px;
    margin-top: 10px;
    padding:10px;
    line-height: 10px;
}
.div33{
    width:83%;
    height:550px;
    float: right;
    text-align: center;
    margin-top:10px;
    color:black;
}
h4{
    font-size: 2em;
}
.div34{
    background-color: #ff7c68;
    text-align: center;
    width:105%;
    float:left;
    margin-left:-10px;
    height:80px;
    font-size: 1.5em;
}