body {
    margin: 0;
    font-family: "Helvetica", sans-serif;
}

h1 {
    color:white;
}

h2 {
    color:black;
    margin-left: 250px;
}

a {	font-size: 1em;
    font-weight: bold;
    color:white;
    text-decoration: none;
}

a:hover {
    font-size: 1em;
    font-weight: bold;
    color:blue;
    transition:1s;
}

p{
    margin-left: 250px;
}

.header {
    background-color: rgb(246,66,65);
    width: 100%;
    height: 80px;
    text-align: center;
    line-height: 70px;
    font-size: 0.7em;
    font-weight: bold;
    margin: 0;
    color:white;
}

.navigation {
    background-color: rgb(192,192,192);
    width: 12%;
    height: 400px;
    float: left;
    padding:20px;
    color:white;
    padding-left:20px;
}

.content {
    width: 88%;
    height: 480px;
    float:left;
    color:black;
    margin-left: 200px;
}

.footer {
    text-align: center;
    width: 100%;
    height: 40px;
    padding:15px;
    background-color: rgb(251,178,178);
    clear:both;
}