@font-face {
    font-family: "Socialico";
    src: url ("font/Socialico.eot?") format ("eot"), url ("font/Socialico.woff") format ("woff"), url ("font/Socialico.ttf") format ("truetype"), url ("font/Socialico.svg#Socialico") format ("svg");
    font-weight: normal;
    font-style: normal;
}

.product {
    height: 323px;
    background-color: rgb(68, 81, 97);
}

.about {
    height: 344px;
    background-color: rgb(255, 255, 255);
}

.container {
    padding: 0 0;
}

.logo {
    margin-left: 50px;
    margin-top: 50px;
}

.logo h1 {
    font-family: Arial;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 36px;
}

.logo ul {
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

.logo ul li {
    list-style-image: url (png/check.png);
}

.logo_img {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.about h1 {
    font-family: Arial;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    margin-bottom: 30px;
}

.about p {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.about_img {
    float: right;
    margin-right: 50px;
    margin-top: 50px;
}

.about_block {
    margin-left: 50px;
    margin-top: 50px;
}

.contact h1 {
    font-family: Arial;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.contact {
    background-color: rgb(68, 81, 98);
}

.contact-form {
    margin-top: 30px;
    width: 500px;
    float: right;
}

.contact-form input {
    width: 100%;
    border-radius: 5px;
    background-color: #ffffff;
    height: 40px;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    margin-bottom: 20px;
    text-indent: 10px;
}

.contact-form ::-webkit-input-placeholder {
    color: #445162;
}

.contact-form ::-moz-placeholder {
    color: #445162;
}

.contact-form :-moz-placeholder {
    color: #445162;
}

.contact-form :-ms-input-placeholder {
    color: #445162;
}

.contact-form .submit {
    border-radius: 5px;
    background-color: #ffffff;
    width: 140px;
    height: 40px;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-indent: 0;
    display: block;
    margin: auto;
}

.contact-form textarea {
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    text-indent: 10px;
}

.col-md-5 {}

.contact-buttons {
    margin-top: 30px;
}

.contact-header {
    text-align: center;
    padding-top: 50px;
}

.contact {
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contact ul {
    padding-left: 0px;
}

.contact ul li {
    line-height: 24px;
    margin-bottom: 15px;
    list-style: none;
    padding-left: 30px;
}

.check {
    background: url ("images/check.png") no-repeat left center;
}

.skype {
    background: url ("images/skype.png") no-repeat left center;
}

.icq {
    background: url ("images/icq.png") no-repeat left center;
}

.email {
    background: url ("images/email.png") no-repeat left center;
}

.phone {
    background: url ("images/phone.png") no-repeat left center;
}

.gicons {
    margin-top: 30px;
}

.gicons a {
    font-family: Socialico;
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

footer {
    background-color: rgb(245, 245, 245);
    text-align: center;
}

footer p {
    font-family: Arial;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    margin: 0;
}