body{
    margin: 0;
    padding: 0;
}
div{
    width: 60%;
    margin-left: 20%;
    height: 300px;
}
h1{
    margin: 0;
    font-weight: bold;
    padding: 10px;
    background-color: #C8DDE7;
}
p{
    font-size: 1.3em;
    padding: 6px;
    margin-top: 20px;
    width: 40%;
    float: left;
}
input{
    margin-left: 30%;
    width: 60%;
    font-size: 1.6em;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 8px;
    margin-top: 0;
    border: 3px solid #DEE8ED;
}
button{
    margin-left: 30%;
    font-size: 1.2em;
    width: 30%;
    background-color: #3185AB;
    border: 1px solid #3185AB;
    color: white;
    border-radius: 6px;
    margin-bottom: 20px;
}
table{
    background-color: #DEE8ED;
}
table a{
    margin-left: 7%;
}
ul{
}
li{
    display: inline-block;
    list-style-type: none;
    width: 45%;
    font-size: 1.1em;
}