body{
    margin: 0;
    padding: 0;
}
td{
    text-align: center;
}
.one td{
    border: 1px solid #DBDF20;
    border-radius: 5px;
    background-color: #DBDF20;
}
.two td{
    border: 1px solid #5A9BD5;
    border-radius: 5px;
    background-color: #5A9BD5;
    color: white;
}