body{
    padding: 0;
    margin: 0;
}
.main{
    width: 80%;
    margin-left: 10%;
}
.top{
    width: 100%;
    height: 200px;
    background-color: #EBECF0;
}
.top h1{
    text-align: center;
}
.top h2{
    text-align: center;
}
.top button{
    width: 80%;
    margin-left: 10%;
    color: white;
    background-color: #047AFE;
    padding: 0.5%;
    font-size: 1.3em;
    cursor: pointer;
}
table img{
    width: 100%;
}
#footer{
    padding: 10px;
    text-align: center;
    background-color: #D4EDDA;
    color: green;
}