body{
    margin:0;
    padding: 0;
}
form{
    box-shadow: 0 0 4px;
    width: 60%;
    margin-top: 100px;
    padding: 50px;
}
input{
    width: 60%;
    padding: 1%;
    font-size: 1.2em;
}
button{
    background: yellowgreen;
    padding: 2%;
    font-size: 1.4em;
    width: 50px;
    cursor: pointer;
}